:root {
  --border-radius-01: 0.25rem;

  --green-01: #304839;
  --green-02: #6C9D7E;
  --green-03: #c2f0d2;

  --red-01: #661E04;
  --red-02: #CB3C08;
  --red-03: #F77140;

  --black-01: #333333;

  --spacing-01: 1rem;
  --spacing-02: 1.5rem;
}

* {
  transition: 0.3s;
}

html {
  font-family: "EB Garamond", serif;
  font-size: 16px;
  line-height: 32px;
}

body {
  color: var(--black-01);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 2rem;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  color: #3489b1
}

a:hover {
  color: #46b9ee
}

em {
  font-style: italic;
}

h1 {
  font-size: 4.25rem;
  line-height: 6rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

h2 {
  font-size: 2.625rem;
  line-height: 4rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h3 {
  font-size: 1.625rem;
  line-height: 4rem;
  margin-bottom: 0rem;
  margin-top: 2rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 2.5rem;
  margin-bottom: 0rem;
  margin-top: 2rem;
}

ul {
  list-style-type: disc;
  margin-left: 2rem;
}

li {
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
}

p {
  font-size: 1.125rem;
  line-height: 2rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
}

blockquote {
  font-style: italic;
  line-height: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

blockquote p:first-of-type:before {
  content: "\""
}

blockquote p:last-of-type:after {
  content: "\""
}

blockquote p:first-of-type {
  margin-top: 0;
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
}

table {
  font-size: 1.125rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
}

th {
  font-weight: 700;
  padding: 0.5rem;
}

td {
  padding: 0.5rem;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding: 2rem;
}

.card-title {
  margin-top: 0;
}

.container {
  margin: 4rem auto 0 auto;
  max-width: 720px;
  padding: 2rem;
}

.footer {
  background: #1f1f1f;
  background: linear-gradient(0deg,rgba(31, 31, 31, 1) 0%, rgba(0, 0, 0, 1) 100%);
  border-top: solid 1px #aaaaaa;
  box-shadow: 0 0 10px 0 #000000;
  color: #ffffff;
  margin-top: 2rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  text-align: center;
}

.footer a {
  color: #ffffff;
}

.footer .footer-title {
  font-size: 1.625rem;
  line-height: normal;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.home-page {
  text-align: center;
}

.home-page h1 {
  font-size: 1.5rem;
  line-height: normal;
  margin-top: 0;
}

.home-page h1 .name {
  display: block;
  font-size: 4.25rem;
}

.home-page-logo {
  margin-top: 4rem;
  opacity: 0.25;
  position: relative;
  width: 100px;
  z-index: -1;
}

.image-gallery {
  aspect-ratio: 3 2;
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto auto;
  margin: 3rem 0;
}

.image-gallery img {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.image-gallery img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
}

.link-list {
  list-style-type: none;
  margin: 0;
}

.link-list .link-list-item {
  border-radius: 1rem;
  font-size: 1.25rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.link-list .link-list-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
}

.link-list .link-list-item a {
  align-items: center;
  color: var(--black-01);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  text-decoration: none;
}

.link-list .link-list-item a svg {
  height: 1.5rem;
  width: 1.5rem;
}

.link-list .link-list-item h3 {
  line-height: normal;
  margin-top: 0;
  text-decoration: underline;
}

.link-list .link-list-item .link-list-item-date {
  margin-top: 0;
}

.navigation {
  align-items: center;
  background: #1f1f1f;
  background: linear-gradient(0deg,rgba(31, 31, 31, 1) 0%, rgba(0, 0, 0, 1) 100%);
  border-bottom: solid 1px #aaaaaa;
  box-shadow: 0 0 10px 0 #000000;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 75;
}

.navigation svg {
  fill: #ffffff;
  height: 2rem;
  width: 2rem;
}

.navigation-menu {
  z-index: 75;
}

.navigation-menu svg {
  cursor: pointer;
}

.navigation-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 50;
}

.navigation-list {
  background-color: #000000;
  box-sizing: border-box;
  left: 0;
  list-style-type: none;
  margin-left: 0;
  padding: 1rem;
  position: absolute;
  top: 4rem;
  text-align: left;
  width: 100%;
  z-index: 100;
}

.navigation-list li {
  border-radius: var(--border-radius-01);
  margin-bottom: 0;
  margin-top: 0;
}

.navigation-list li a {
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  padding: 1rem;
  text-decoration: none;
  width: 100%;
}

.navigation-list li:hover {
  background-color: var(--black-01);
}

.navigation .navigation-title-container {
  height: 4rem;
  z-index: 75;
}

.navigation .navigation-title {
  font-size: 1.25rem;
  height: 100%; 
  line-height: normal;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  z-index: 75;
}

.navigation .navigation-title a {
  align-items: center;
  color: #ffffff;
  display: flex;
  gap: 1rem;
  height: 100%;
  text-decoration: none;
}

@media screen and (max-width: 784px) {
  .image-gallery {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 580px) {
  .image-gallery {
    grid-template-columns: auto;
  }
}
