---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Code';
---
<BaseLayout pageTitle={pageTitle}>
  <div class="card">
    <h3>
      <a href="https://github.com/havok2905/Spellbook" target="_blank">
        Spellbook
      </a>
    </h3>
    <p>
      Frontend application for managing D&D spells and spells associated with characters
    </p>
    <ul class="pill-list">
      <li class="pill">Typescript</li>
      <li class="pill">React</li>
      <li class="pill">Next.JS</li>
    </ul>
  </div>
  <div class="card">
    <h3>
      <a href="https://github.com/havok2905/Spellbook-Api" target="_blank">
        Spellbook API</h3>
      </a>
    <p>
      Backend API for managing D&D spell and character data
    </p>
    <ul class="pill-list">
      <li class="pill">Typescript</li>
      <li class="pill">Express</li>
      <li class="pill">Node.js</li>
    </ul>
  </div>
  <div class="card">
    <h3>
      <a href="https://github.com/havok2905/dm-screen" target="_blank">
        DM Screen
      </a>
    </h3>
    <p>
      Admin application for running in-person D&D games and displaying game state to the table
    </p>
    <ul class="pill-list">
      <li class="pill">Typescript</li>
      <li class="pill">React</li>
      <li class="pill">Express</li>
      <li class="pill">Node.js</li>
    </ul>
  </div>
  <div class="card">
    <h3>
      <a href="https://github.com/havok2905/character-editor" target="_blank">
        Character Editor
      </a>
    </h3>
    <p>
      Type system and PDF/HTML generator for D&D character JSON
    </p>
    <ul class="pill-list">
      <li class="pill">Typescript</li>
      <li class="pill">Node.js</li>
    </ul>
  </div>
  <div class="card">
    <h3>
      <a href="https://github.com/havok2905/token-builder" target="_blank">
        Token Builder
      </a>
    </h3>
    <p>
      CLI tool for converting folders of images to usable tokens for online TTRPGs
    </p>
    <ul class="pill-list">
      <li class="pill">Typescript</li>
      <li class="pill">Node.js</li>
    </ul>
  </div>
  <div class="card">
    <h3></h3>
    <h3>
      <a href="https://github.com/havok2905/foundryvtt-currency" target="_blank">
        Foundryvtt Currency
      </a>
    </h3>
    <p>
      Plugin for the Foundry Virtual Tabletop application to break party currency down while in game
    </p>
    <ul class="pill-list">
      <li class="pill">Typescript</li>
    </ul>
  </div>
</BaseLayout>
