---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Craft & Code';
---
<BaseLayout pageTitle={pageTitle} isHome>
  <div class="home-page">
    <p>
      Hello! My name is Chris McLean and I'm a professional frontend software engineer, TTRPG enthusiast, and hobbyist writer located in the Denver metropolitan area,
      in the midst of the majestic view of the Rocky Mountains. This site is to act as a showcase of my writing, short stories, and Tabletop RPG adventures that I make
      public. I hope you enjoy! 
    </p>
  </div>
</BaseLayout>