---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Craft & Code';
---
<BaseLayout pageTitle={pageTitle} isHome>
  <div class="home-page">
    <p>
      Hello! My name is Chris McLean and I'm a professional frontend software engineer, TTRPG enthusiast, and hobbyist writer located in the Denver metropolitan area,
      in the midst of the majestic view of the Rocky Mountains. Craft &amp; Code is my site to act as a showcase of my writing, short stories, Tabletop RPG adventures,
      and other craft projects that I make public.
    </p>
    <p>
      Despite the name "Craft & Code", there will be very little code on this site. My journey as a writer is heavily informed by my journey as an engineer. Both
      coding and prose share the same artistic space within myself, and are both indistinguishable from one another. The name is a nod to the idea that all forms
      of human expression are intrinsically art.
    </p>
  </div>
</BaseLayout>