---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Craft & Code';
---
<BaseLayout pageTitle={pageTitle} isHome>
  <div class="home-page">
    <p>
      Hello! My name is Chris McLean and I'm a professional frontend software engineer, TTRPG enthusiast, and hobbyist writer located in the Denver metropolitan area,
      in the midst of the majestic view of the Rocky Mountains.
    </p>
    <p>
      I have been writing software professionally for almost 15 years now; having helped grow fledgling startups from the ground up, managing IOT devices in consumer homes,
      crafting webpages for disabled students, writing healthcare applications leveraged by millions of people, and leading technical initiatives for industry leaders such as Shopify.
    </p>
    <p>
      While not hiking through the mountains of Colorado, I revel in storytelling and reading. I've been running D&D games both privately and for the public for almost a 
      decade, having run games for corporate events and public meetups alike. Several of my homebrew adventures are available for use here, of which all of the art and
      illustration are my own. I am also in the early stages of writing my first fantasy novel.
    </p>
  </div>
</BaseLayout>