---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Resume';
---
<BaseLayout pageTitle={pageTitle}>
  <a class="button" href="/christopher-mclean-resume.pdf" target="_blank">
    Download Formatted PDF
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
      <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
    </svg>
  </a>
  <h2>
    Languages, Tools, &amp; Skills
  </h2>
  <p>
    TypeScript,
    JavaScript,
    React,
    Node.js,
    Tailwind,
    CSS,
    HTML,
    Webpack,
    Vite,
    Ruby,
    PHP,
    C#,
    Azure,
    AWS,
    Docker,
    Git
  </p>
  <p>
    Frontend Software Engineering,
    Web Accessibility,
    SEO,
    Software Architecture,
    Test Driven Development,
    UX Design
  </p>
  <h2>
    Professional Experience
  </h2>
  <h3>
    Applied Systems - Senior Software Engineer
  </h3>
  <p>
    <strong>
      2024 - Present, Remote
    </strong>
  </p>
  <ul>
    <li>
      Led as my team's designated frontend domain expert in the transformation of a multi-million line long enterprise insurance application from Visual Basic to Typescript and React.
    </li>
    <li>
      Contributed to domain-level security auditing of backend APIs and authored end to end API tests in C#.
    </li>
    <li>
      Took ownership of refinement and triaging of large frontend technical initiatives for my team -  identifying key technical roadblocks, drafting acceptance criteria, and supporting enhancements to shared libraries to unblock development.
    </li>
  </ul>
  <h3>
    Shopify; Shopify Logistics - Staff Developer ( L7 Staff Engineer )
  </h3>
  <p>
    <strong>
      2022 - 2023, Remote
    </strong>
  </p>
  <ul>
    <li>
      Led as a Staff Engineer for Shopify Logistics's frontend ecosystems team. Provided technical direction for tooling and architecture improvements to TypeScript and React applications across the department.
    </li>
    <li>
      Acted as the frontend domain expert on an R&D initiative to share multi-step workflows across multiple acquired warehouse logistics applications, with the goal being to consolidate those applications into a single platform.
    </li>
    <li>
      Acted as the primary frontend liaison for Flexport ( partner business ) in the development of a new embedded application with Shopify's CMS. Collaborated closely with the Shopify core-library developers and ecosystems teams, and leveraged learnings to unblock Flexport's engineers on technical hurdles in the release of the Flexport app.
    </li>
    <li>
      Led an initiative introduce Storybook across all Shopify Logistics codebases, enabling several hundred engineers to make visual changes to Shopify Logistics applications without running the full Shopify codebase end to end. Integrated Storybook into existing CI pipelines to automatically deploy branches for demoing work with product design teams.
    </li>
    <li>
      Volunteered as a mentor in Shopify's mentor/mentee pairing program.
    </li>
  </ul>
  <h3>
    Healthgrades - Senior Software Engineer
  </h3>
  <p>
    <strong>
      2019 - 2022, Denver CO &amp; Remote
    </strong>
  </p>
  <ul>
    <li>
      Developed A/B tested new features for the more than one million Healthgrades.com public facing doctor profile pages written in C#, Node.js, JavaScript, and React. Contributed to the improvement of accessibility and SEO scores, leading to Healthgrades.com being in the top 3 search results for doctor names on Google.
    </li>
    <li>
      Led as interim team lead for the Doctor Profiles Team for several months, reporting directly to the Director of Engineering. Coordinated team engineering meetings, communicated corporate announcements, led the planning and architecture of future team initiatives.
    </li>
    <li>
      Acted as lead JavaScript engineer in an effort to break monolith UI services into separate containerized applications; utilizing Express, Node.js, Docker, and Kubernetes. The initiative cleared release bottlenecks and enabled asynchronous deploys of Healthgrades.com pages.
    </li>
  </ul>
  <h3>
    UniKey Technologies - Software Engineer
  </h3>
  <p>
    <strong>
      2016 - 2019, Orlando FL
    </strong>
  </p>
  <ul>
    <li>
      Led as acting lead frontend engineer for UniKey's residential and commercial IOT platforms. Developed a library of reusable web components, styling libraries, as well as SDKs to interact with our IOT device management backend. Developed CI pipelines and containerized services in Azure to handle the entirety of the company's frontend ecosystem.
    </li>
    <li>
      Led as part time scrum master for the backend web services team.
    </li>
    <li>
      Provided legacy support for Kevo.com, UniKey Technology's first residential IOT product. Involved implementing bug-fixes to the Ruby on Rails application, performing occasional Linux server administration tasks, as well as developing enhancements to support collaborations between Amazon and UniKey.
    </li>
  </ul>
  <h3>
    Cloudspace - Software Engineer
  </h3>
  <p>
    <strong>
      2013 - 2016, Orlando FL
    </strong>
  </p>
  <ul>
    <li>
      Provided staff augmentation and consultancy for clients in the development of Angular.js and Ruby on Rails applications. Conducted training on test driven development, agile processes, and frontend development best practices.
    </li>
    <li>
      Maintained client owned websites developed using Cloudspace's proprietary CMS and provided legacy support for the platform.
    </li>
    <li>
      Gave public technical talks and trainings as part of Cloudspace's local tech meetups and community outreach initiatives.
    </li>
  </ul>
  <h3>
    University of Central Florida; Center for Distributed Learning - Techranger ( Web Developer )
  </h3>
  <p>
    <strong>
      2012 - 2013, Orlando FL
    </strong>
  </p>
  <ul>
    <li>
      Developed Section 508, web accessible, webpages for the University of Central Florida's online education program.
    </li>
    <li>
      Spoke on Q&A panels as part of online-education training for professors. Answered questions pertaining to technical strategy for ensuring legal compliance in creating online educational content for users with disabilities.
    </li>
  </ul>
  <h2>
    Education
  </h2>
  <h3>
    University of Central Florida ( 2009 - 2013 )
  </h3>
  <p>
    B.A. in Digital Media
  </p>
  <h2>
    Honors
  </h2>
  <h3>
    Boy Scouts of America
  </h3>
  <p>
    Eagle Scout Award, June 2008
  </p>
</BaseLayout>