---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <p><strong>Published:</strong> {frontmatter.pubMonth}/{frontmatter.pubDay}/{frontmatter.pubYear}</p>
  <slot />
</BaseLayout>